# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyc

# Virtual environment
venv/
env/
.env

# Jupyter Notebooks
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Model outputs / data
*.h5
*.pkl
*.npy
